[submodule "gdata-python-client"]
	path = gdata-python-client
	url = https://github.com/google/gdata-python-client
[submodule "gdata-python3"]
	path = gdata-python3
	url = https://github.com/dvska/gdata-python3.git
[submodule "urllib3"]
	path = urllib3
	url = ../urllib3.git
[submodule "python-samples"]
	path = python-samples
	url = ../python-samples.git
[submodule "pigz"]
	path = pigz
	url = ../pigz.git
[submodule "pylint"]
	path = pylint
	url = ../pylint.git
[submodule "ggle/libphonenumber"]
	path = ggle/libphonenumber
	url = ../libphonenumber.git
[submodule "multixml"]
	path = multixml
	url = ../multixml.git
[submodule "pyang"]
	path = pyang
	url = ../pyang.git
[submodule "OpenROADM_MSA_Public"]
	path = OpenROADM_MSA_Public
	url = ../OpenROADM_MSA_Public.git
[submodule "CueParser"]
	path = CueParser
	url = ../CueParser.git
[submodule "xmltodict"]
	path = xmltodict
	url = ../xmltodict.git
[submodule "beautifulsoup"]
	path = beautifulsoup
	url = git@github.com:serrasqueiro/beautifulsoup.git
[submodule "xadrez"]
	path = xadrez
	url = ../xadrez
[submodule "VUPlayer"]
	path = VUPlayer
	url = git@github.com:serrasqueiro/VUPlayer.git
[submodule "projects/UnivSchool/legacy-sockets"]
	path = projects/UnivSchool/legacy-sockets
	url = git@github.com:UnivSchool/legacy-sockets.git
[submodule "projects/UnivSchool/reflect5"]
	path = projects/UnivSchool/reflect5
	url = git@github.com:UnivSchool/reflect5.git
[submodule "projects/UnivSchool/rexec"]
	path = projects/UnivSchool/rexec
	url = git@github.com:UnivSchool/rexec.git
[submodule "projects/Laggregator"]
	path = projects/Laggregator
	url = ../Laggregator
[submodule "projects/pylearn"]
	path = projects/pylearn
	url = git@github.com:UnivSchool/pylearn.git
[submodule "openconfig_public"]
	path = openconfig_public
	url = ../openconfig_public.git
[submodule "python-titlecase"]
	path = python-titlecase
	url = ../python-titlecase
[submodule "bpython"]
	path = bpython
	url = ../bpython
[submodule "python-http-client"]
	path = python-http-client
	url = ../python-http-client.git
[submodule "protolint"]
	path = protolint
	url = ../protolint.git
