[submodule "gdata-python-client"]
	path = gdata-python-client
	url = https://github.com/google/gdata-python-client
[submodule "gdata-python3"]
	path = gdata-python3
	url = https://github.com/dvska/gdata-python3.git
[submodule "urllib3"]
	path = urllib3
	url = git://github.com/serrasqueiro/urllib3.git
[submodule "python-samples"]
	path = python-samples
	url = git@github.com:serrasqueiro/python-samples.git
[submodule "pigz"]
	path = pigz
	url = git@github.com:serrasqueiro/pigz.git
[submodule "pylint"]
	path = pylint
	url = git@github.com:serrasqueiro/pylint.git
[submodule "ggle/libphonenumber"]
	path = ggle/libphonenumber
	url = git@github.com:serrasqueiro/libphonenumber.git
