[submodule "gdata-python-client"]
	path = gdata-python-client
	url = https://github.com/google/gdata-python-client
[submodule "gdata-python3"]
	path = gdata-python3
	url = https://github.com/dvska/gdata-python3.git
[submodule "urllib3"]
	path = urllib3
	url = git://github.com/urllib3/urllib3.git
